
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blanco Gusmar | Cargas</title>
    <link rel="shortcut icon" href="/images/BGM.jpg" type="image/x-icon">
    <%- include("../partials/links/normalize-fa-nav.styles.ejs") %>
    <link rel="stylesheet" href="/css/main.css">


</head>
<body>
    <%- include("../partials/navigation/navigation-bar",{username : user.Usuario}) %>
    <div class="page-container">
            
        <div class="dashboard-container">
            <% for(let i = 0 ; i< fechas.length ; i++){ %>

                <div class="dashboard-item"><a href="/mis_planillas/<%=fechas[i].FECHA%>"><%=fechas[i].FECHA%></a></div>
           
            <%}%>
        </div>
        
    </div>

    <%- include("../partials/links/nav.logic.ejs")  %>
</body>
</html>