<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blanco Gusmar | Cargas</title>
    <link rel="shortcut icon" href="/images/BGM.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/navigation/navigation-bar.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/CRM/General.css">
    <link rel="stylesheet" href="/css/CRM/interfaz.css">
    <link rel="stylesheet" href="/css/mercaderia/planilla.css">


</head>

<body>
    <%- include("../partials/navigation/navigation-bar",{username : user.Usuario}) %>

        <div class="page-container">
            <div class="btn-container">
                <div class="btn-ventas btn">Actualizar</div>
                <div class="btn-ventas btn">Cerrar planilla</div>
                <div class="btn-ventas btn">Abrir planilla vendedor</div>
            </div>



            <div class="planilla-container">
                <table class="tabla-datos tabla-carga">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Ficha</th>
                            <th>Ant</th>
                            <th>Estatus</th>
                            <th>Art</th>
                            <th>Vendedor</th>
                            <th>Control</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        <% for(let i = 0 ; i < planilla_object.ARTICULOS.length;i++){ %>
                        <tr>
                            <td><%= planilla_object.ARTICULOS[i].CTE %></td>
                            <td><%= planilla_object.ARTICULOS[i].FICHA %></td>
                            <td><%= planilla_object.ARTICULOS[i].ANT %></td>
                            <td><%= planilla_object.ARTICULOS[i].ESTATUS %></td>
                            <td><%= planilla_object.ARTICULOS[i].ART %></td>                        
                            <td class="opciones">
                                <select>
                                    <option value="0">Cargado</option>
                                    <option value="1">No cargado</option>
                                </select>
                            </td>

                            <!-- RENDERIZAR EN DISTINTO ORDEN EN FUNCION DE VENDEDOR / CONTROL-->
                            <td>Cargado</td>
                        </tr>
                        <% } %>

                    </tbody>

                </table>
            </div>

            <div class="data-container">
                <span>Vendedor: Diego</span><br>
                <span>Camioneta: AB717</span><br>
                <span>Dia: 2023-03-07</span><br>
            </div>
        </div>

        <script src="/js/mercaderia/planilla.js"></script>
    </body>

</html>







