<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blanco Gusmar | Cargas</title>
    <%- include("../partials/links/normalize-fa-nav.styles.ejs") %>
    <link rel="stylesheet" href="/css/mercaderia/planilla.css">
</head>

<body>
    <%- include("../partials/navigation/navigation-bar") %>


    <% if(planilla.ARTICULOS.length == 0) {%>
        <div class="no-generado-container">
            <h3>PLANILLA NO GENERADA</h3>
            <div class="btn btn-green btn-radius"><a href="<%= datos.VENDEDOR %>/generar_planilla_de_carga/">Generar</a></a></div>
        </div>
    <% } else { %>

        <div class="detalles">
            <span>Estado de la planilla: <br></span>
            <span class = <%= datos.isEditableControl == 0 ? "CERRADO" : "ABIERTO" %> >
                <% if(datos.isEditableVendedor) {%>
                    Editable por vendedor
                <% } else if(datos.isEditableControl) {%>
                    Editable por control
                <% } else {%>
                    Cerrada
                <% } %>
            </span>
        </div>

        <div class="detalles">
            <span>Unidad: </span>
            <span class="ABIERTO">
                <%= datos.UNIDAD %>
            </span>
        </div>
        
        <section class="table">
            <div class="table__header">
                <h3>V: <%= datos.VENDEDOR %></h3>
                <h3 class="pendiente-cerrado">
                    
                </h3>
                <h3>Control: <%= datos.CONTROL %></h3>
            </div>
            <form class="table__body" action="/insertar_estados" method="POST">
                <table class="tabla-datos tabla-carga">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Ficha</th>
                            <th>Ant</th>
                            <th>Estatus</th>
                            <th>Art</th>
                            <th>Control</th>
                            <th>Vendedor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0 ; i < planilla.ARTICULOS.length;i++){ %>
                            <tr>
                                <td><%= planilla.ARTICULOS[i].CTE %></td>
                                <td><%= planilla.ARTICULOS[i].FICHA %></td>
                                <td><%= planilla.ARTICULOS[i].ANTICIPO %></td>
                                <td><%= planilla.ARTICULOS[i].ESTATUS %></td>
                                <td><%= planilla.ARTICULOS[i].ART %></td>
                                <td><%= ARTICULOS_CONTROL.ARTICULOS[i].ESTADO%></td>
                                <td><%= ARTICULOS_VENDEDOR.ARTICULOS[i].ESTADO%></td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
                <input name="FECHA" type="" class="hidden" value="<%= datos.FECHA %>" />
                <input name="VENDEDOR" type="" class="hidden" value="<%= datos.VENDEDOR %>" />
                <input type="submit" class="btn-submit hidden">
            </form>
        </section>
        <% } %>

        <section class="table">
            <div class="table__header">
                <h3>Sobrecarga</h3>
            </div>
            <form class="table__body">
                <table class="tabla-datos tabla-carga">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Ficha</th>
                            <th>Articulo</th>
                            <th>Carga</th>
                            <th>Tipo</th>
                            <th>Observacion</th>
                            <th>Cargar</th>
                            <th>Control</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0 ; i < SOBRECARGA.length; i++ ) { %>
                        <tr>
                            <td><%= SOBRECARGA[i].CTE %></td> 
                            <td><%= SOBRECARGA[i].FICHA %></td>
                            <td><%= SOBRECARGA[i].ART %></td>
                            <td><%= SOBRECARGA[i].CARGA %></td>
                            <td><%= SOBRECARGA[i].TIPO %></td>
                            <td><%= SOBRECARGA[i].OBS %></td>
                            <td><%= "Cerrado" %></td>  
                            <td>
                                <% if(SOBRECARGA[i].CONTROL == "No confirmado") {%>
                                    <a href="<%= datos.VENDEDOR %>/confirmar_sobrecarga/<%= i %>">Confirmar</a>
                                <%} else {%>
                                    <%= SOBRECARGA[i].CONTROL %>
                                <% } %>
                            </td>                      
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </form>
        </section>

        <%- include("../partials/links/nav.logic.ejs")  %>
        <!-- <script src="/js/lib/asociar.input.js"></script>
        <script src="/js/mercaderia/planilla.js"></script> -->
</body>

</html>