<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/links/normalize-fa-nav.styles.ejs") %>
        <link rel="stylesheet" href="/css/CRM/tabla.clientes.css">
        <link rel="stylesheet" href="/css/CRM/interfaz.css">
        <link rel="stylesheet" href="/css/mercaderia/control_de_camionetas.css">
</head>
<title>Blanco Gusmar | Deposito</title>

<body>
    <%- include('../partials/navigation/navigation-bar.ejs') %>

    <div class="details-container">
        <div class="unidad-details">
            Unidad : BGM
        </div>
        <div class="btn btn-flex btn-pedido btn-text btn-cargar_control">
            <span>Cargar control</span>
        </div>
    </div>

    <main class="table">
        <div class="table__header">
            <h3>Control de mercaderia</h3>
        </div>
        <div class="table__body" >
            <table class="">
                <thead>
                    <tr>
                        <th>ART</th>
                        <th>Vigente</th>
                        <th>Producto</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% for(let i = 0 ; i < stock.length ; i++) {%>
                    <tr>
                        <td><%= stock[i].Art  %></td>
                        <td><%= stock[i].CANTIDAD %></td>
                        <td><%= stock[i].Producto %></td>
                    </tr>
                    <% } %>        
                </tbody>
            </table>
        </div>
    </main>




    <main class="table table__historial">
        <div class="table__header">
            <h3>Historial</h3>
            <input type="text" placeholder="Filtro de busqueda" class="input-search">
        </div>
        <div class="table__body">
            <table >
                <thead>
                    <tr>
                        <th>FECHA</th>
                        <th>UNIDAD</th>
                        <th>CTE</th>
                        <th>FICHA</th>
                        <th>ART</th>
                        <th>ESTADO</th>
                        <th>CONTROL</th>
                        <th>MOTIVO</th>
                        <th>CARGADO</th>
                        <th>OBS</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0 ; i < movimientos.length ; i++) {%>
                    <tr>
                        <td class="nw"><%= movimientos[i].FECHA  %></td>
                        <td><%= movimientos[i].CAMIONETA %></td>
                        <td><%= movimientos[i].CTE %></td>
                        <td><%= movimientos[i].FICHA %></td>
                        <td><%= movimientos[i].ART %></td>
                        <td><%= movimientos[i].ESTADO %></td>
                        <td><%= movimientos[i].CONTROL %></td>
                        <td><%= movimientos[i].MOTIVO %></td>
                        <td><%= movimientos[i].CARGADO %></td>
                        <td><%= movimientos[i].OBS %></td>
                    </tr>
                    <% } %>        
                </tbody>
            </table>
        </div>
    </main>




    <main class="table table__controles">
        <div class="table__header">
            <h3>Historial de controles</h3>
            <select class="custom-selectbox select_horarios">
                <% for(let i = 0 ; i < fechas.length;i++) {%>
                <option value="<%= i %>"><%= fechas[i].FECHA %></option>
                <% } %>
            </select>
        </div>
        <div class="table__body">
            <table >
                <thead>
                    <tr>
                        <th>Responsable</th>
                        <th>Articulo</th>
                        <th>Vigente</th>
                        <th>Control</th>
                        <th>Diferencia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>       
                </tbody>
            </table>
        </div>
    </main>



    <script src="/js/mercaderia/deposito.filtro.js"></script>
    <script src="/js/mercaderia/control.camionetas.js"></script>
    <script src="/js/lib/table.setData.js"></script>
    <%- include("../partials/links/nav.logic.ejs") %>
</body>

</html>