<html>

<head>
    
    <title>Blanco Gusmar | CRM</title>
    <link rel="shortcut icon" href="images/BGM.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/Normalize.css">
    <link rel="stylesheet" href="css/CRM/General.css">
    <link rel="stylesheet" href="css/CRM/interfaz.css">
    <link rel="stylesheet" href="css/CRM/tabla.clientes.css">
    <link rel="stylesheet" href="css/CRM/tabla.fichas.css">
    <link rel="stylesheet" href="css/CRM/tabla.prestamos.css">
    <link rel="stylesheet" href="css/CRM/tabla.domicilio.css">
    <link rel="stylesheet" href="css/CRM/sidebar.css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

</head>

<body>

        <div class="sidebar">
            <div class="sidebar-lengueta-container">
                <div class="sidebar-lengueta"><span>Mostrar domicilio</span></div>
            </div>
            <div class="sidebar-contenido">
                <%- include('../partials/CRM/tabla.domicilio.ejs')%>
            </div>    
        </div>
        
        <div class="container">
        <%- include('../partials/CRM/tabla.disponible.ejs') %>
        <%- include('../partials/CRM/btn.container.ejs') %>
        <%- include('../partials/CRM/tabla.clientes.ejs')%>
        <%- include('../partials/CRM/tabla.fichas.ejs')%>
        <%- include('../partials/CRM/tabla.prestamos.ejs')%>
        <%- include('../partials/CRM/tabla.masterec.ejs')%>
        <%- include('../partials/CRM/tabla.masterBGM.ejs')%>


    </div>

    <script src="js/CRM.js"></script>
    <script src="js/sidebar.js"></script>


</body>

</html>