
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blanco Gusmar | Mis pedidos</title>
    <%- include("../partials/links/normalize-fa-nav.styles.ejs") %>
    <link rel="stylesheet" href="/css/pedidos/mis_pedidos.css">
</head>

<body>
    <%- include("../partials/navigation/navigation-bar") %>
        <form class="pedidos__main__container" method="POST" action="/pedidos/recorrido/cargar_orden">

            <div class="pedidos__header">
                <span>Activos / Pendientes</span>
                <input type="submit" class="" value="Cargar cambios"></a>
            </div>

            <div class="pedidos__container pedidos__activos">
               <% activos.forEach(pedido => { %>

                    <div class="pedido pedido1 pedido__activo" style="order: <%= pedido.ORDEN %>"  draggable="true">
                        <div class="cte__details">
                            <div class="cte__nombre nw"><%= pedido.NOMBRE  %></div>    
                            <div class="cte__calle nw"><%= pedido.CALLE  %></div>
                            <div class="cte__cruces nw"><%= pedido.CRUCES %> - <%= pedido.CRUCES2 %></div>
                        </div> 
                        <span class="zona"><%= pedido.ZONA %></span>
                        <a href="/pedidos/recorrido/detalle/<%= pedido.ID %>">Ver detalle</a>
                        <input type="hidden" class="input__order" name="ORDEN" value="<%= pedido.ORDEN  %>">
                        <input type="hidden" name="ID" value="<%= pedido.ID %>">
                        <input type="hidden" name="ESTADO" class="input__estado" value="<%= pedido.ID %>">
                    </div>
                    
                <% }) %>
            </div>
            
                
            <div class="pedidos__container pedidos__pendientes">

                <% pendientes.forEach(pedido => { %>

                    <div class="pedido pedido1 pedido__inactivo" draggable="true">
                        <div class="cte__details">
                            <div class="cte__nombre nw"><%= pedido.NOMBRE  %></div>
                            <div class="cte__calle nw"><%= pedido.CALLE  %></div>
                            <div class="cte__cruces nw"><%= pedido.CRUCES %> - <%= pedido.CRUCES2 %></div>
                        </div>
                        <span class="zona"><%= pedido.ZONA %></span>

                        <input type="hidden" class="input__order" name="ORDEN" value="<%= pedido.ORDEN  %>">
                        <input type="hidden" name="ID" value="<%= pedido.ID %>">
                        <input type="hidden" name="ESTADO" class="input__estado" value="<%= pedido.ID %>">
                    </div>
                    
                <% }) %>

            </div>
        </form>

        <div class="pedidos__proximos">

        </div>

    <%- include("../partials/links/nav.logic.ejs")  %>
    <script src="/js/pedidos/pedidos.dragAndDrop.js"></script>
    <script src="/js/pedidos/pedidos.dragAndDrop.mobile.js"></script>
</body>

</html>












































