<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/links/normalize-fa-nav.styles.ejs") %>
    <link rel="stylesheet" href="/css/CRM/tabla.clientes.css">
    <link rel="stylesheet" href="/css/CRM/General.css">
    <link rel="stylesheet" href="/css/cargar_venta/tabla.ventascargadas.css">


</head>
<title>Blanco Gusmar | Pedidos acumulados</title>

<body>
    <%- include('../partials/navigation/navigation-bar.ejs')%>
        <div class="page-container">
            <div class="table-container">
                <table class="tabla-ventascargadas tabla-clientes tabla-datos">
                    <thead>
                        <tr>
                            <th>FECHA</th>
                            <th>REDES</th>
                            <th>CTE</th>
                            <th>ZONA</th>
                            <th>NOMBRE</th>
                            <th>CALLE</th>
                            <th>CRUCES</th>
                            <th>CRUCES</th>
                            <th>TELEFONO</th>
                            <th>QUE NECESITA</th>
                            <th>DESIGNADO</th>
                            <th>VISITA</th>
                            <th>DESDE</th>
                            <th>HASTA</th>
                            <th>COMPLETADO</th>
                            <th>MOTIVO</th>                            
                        </tr>
                    </thead>
                    <tbody>     
                        <% pedidos.forEach(pedido => { %>
                        <tr>
                            <td><%= pedido.DIA %></td>
                            <td><%= pedido.REDES %></td>
                            <td><%= pedido.CTE %></td>
                            <td class="zona"><%= pedido.ZONA %></td>
                            <td><%= pedido.NOMBRE %></td>
                            <td><%= pedido.CALLE %></td>
                            <td><%= pedido.CRUCES %></td>
                            <td><%= pedido.CRUCES2 %></td>
                            <td><%= pedido.TELEFONO %></td>
                            <td><%= pedido.QUE_NECESITA %></td>
                            <td><%= pedido.DESIGNADO %></td>
                            <td><%= pedido.DIA_VISITA %></td>
                            <td><%= pedido.DESDE %></td>
                            <td><%= pedido.HASTA %></td>                            
                            <td><%= pedido.VISITADO %></td>                            
                            <td><%= pedido.MOTIVO %></td>                            

                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

        <%- include("../partials/links/nav.logic.ejs")  %>
</body>

</html>











