<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blanco gusmar | Pagos</title>
  <%- include("../partials/links/normalize-fa-nav.styles.ejs") %>
  <link rel="stylesheet" href="/pagos/css/pagos.cte.css">
  <link rel="stylesheet" href="/css/navigation/buscador.css">
  <script src="https://kit.fontawesome.com/b03be97bbd.js" crossorigin="anonymous"></script>
</head>



<body>
  <%- include("../partials/navigation/navigation-bar.ejs")  %>

  <main class="main__container">

    <form class="buscador__container" action="deuda_cte">
      <div class="container--buscador">
        <%- include(`${global.dir_partials}/icons/search.ejs`) %>
        <input type="text" class="buscador container--buscador__input" name="FICHA_PRIMERA" placeholder="Buscar ficha" />
      </div>
      <div class="container--buscador">
        <%- include(`${global.dir_partials}/icons/search.ejs`) %>
        <input type="text" class="buscador container--buscador__input" name="CTE" placeholder="Buscar cliente" />
      </div>

      <input type="hidden" name="N_OPERACION" value="<%= N_OPERACION  %>">
      <input type="hidden" name="TITULAR" value="<%= TITULAR  %>">
      <input type="hidden" name="FECHA_EVALUAR" value="<%= FECHA_EVALUAR  %>">
      <input type="submit" hidden>
    </form>

    <header class="creditos__header">
      <h1 class="CTE_NOMBRE"><%= cte_data.CALLE  %></h1>
      <div class="header--credito__container--datos">
        <div class="CTE_CALLE">
          <span class="zona"><%= cte_data.ZONA %></span>
          <a href="/CRM?CTE=<%= cte_data.CTE %>" class="CTE link"><%= cte_data.CTE %></a>
          <span class="CALLE"><%=cte_data.NOMBRE %></span>
        </div>
        <div>
          <div>Tel:<%= cte_data.WHATSAPP || "Sin telefono"%></div>
          <% if(hasPermission(permisos.ADMIN_COB) && cte_data.CTE){  %>
          <a href="/admin/editarCliente/<%= cte_data.CTE %>" class="link link-editar">Editar cliente</a>
          <% } %>
          <% if(FECHA_EVALUAR) {%> <div>Deuda al dia : <%= FECHA_EVALUAR %></div> <% } %>

        </div>
        </fdiv>
    </header>


    <% fichas.forEach(ficha => { %>
    <% if(ficha.data.FICHA <= 50000) {%>

    <%- include(global.dir_partials + "/pagos/deuda_cte.ficha.ejs",{ficha,Recorrido,FECHA_EVALUAR}) %>

    <% }else { %>

    <%- include(global.dir_partials + "/pagos/deuda_cte.prestamo.ejs",{ficha,Recorrido,FECHA_EVALUAR}) %>
    <% } %>
    <% }); %>





  </main>
  <%- include("../partials/links/nav.logic.ejs") %>
  <script src="/pagos/js/form_validation.js"></script>
  <script src="/pagos/js/button_events.js"></script>
  <script src="/pagos/js/show_hide_groups.js"></script>
</body>

</html>