<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/navigation/navigation-bar.css">
    <link rel="stylesheet" href="css/CRM/tabla.clientes.css">
    <link rel="stylesheet" href="css/CRM/General.css">
    <link rel="stylesheet" href="css/CRM/interfaz.css">
    <link rel="stylesheet" href="css/ventas/ventas.cargadas.vendedores.css">
    <link rel="stylesheet" href="css/cargar_venta/tabla.ventascargadas.css">
</head>
<title>Blanco Gusmar | Ventas</title>

<body>
    <%- include('../partials/navigation/navigation-bar.ejs') %>
        <div class="page-container">
            <div class="menu">
                <div class="menu-sub1">
                    <div class="busqueda-container">
                        <div class="busqueda-first-title title">Cuadro de busqueda</div>
                        <div class="title">Vendedor</div>
                        <div class="title">Fecha</div>

                        <div class="custom-selectbox">
                            <select class="custom-selectbox select-vendedor">
                                <% for (let i=0;i < vendedores.length ; i++){%>
                                    <option value="<%=i%>"><%=vendedores[i].VENDEDOR%></option>
                                    <%}%>
                            </select>
                        </div>
                        <div class="custom-selectbox">
                            <select class="custom-selectbox  select-fecha">
                                <% for (let i=0;i < fechas.length ; i++){%>
                                    <option value="<%=i%>"><%=fechas[i].FECHA%></option>
                                <%} %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                    <input type="button" class="btn btn-ventas btn-consultar-ventas" value="Consultar"></input>
                </div>


            </div>
            <div class="table-container">
                <h3>ACCESS</h3>
                <table class="tabla-access tabla-clientes tabla-datos">
                    <thead>
                        <tr>
                            <th>FECHA_VENTA</th>
                            <th>CTE</th>
                            <th>FICHA</th>
                            <th>NOMBRE</th>
                            <th>ZONA</th>
                            <th>CALLE</th>
                            <th>CRUCES</th>
                            <th>CRUCES2</th>
                            <th>WHATSAPP</th>
                            <th>DNI</th>
                            <th>ARTICULO</th>
                            <th>TOTAL</th>
                            <th>ANTICIPO</th>
                            <th>CUOTA</th>
                            <th>TIPO</th>
                            <th>ESTATUS</th>
                            <th>PRIMER VEN</th>
                            <th>VENDEDOR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="evaluacion">0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td class="zona">0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
                <h3>VENTAS</h3>
                <table class="tabla-ventas tabla-clientes tabla-datos">
                    <thead>
                        <tr>
                            <th>FECHA</th>
                            <th>CTE</th>
                            <th>FICHA</th>
                            <th>ZONA</th>
                            <th>TOTAL</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>CUOTA</th>
                            <th>-</th>
                            <th>v</th>
                            <th>-</th>
                            <th>-</th>
                            <th>TIPO</th>
                            <th>ESTATUS</th>
                            <th>PRIMER VENCIMIENTO</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>VENCIMIENTO</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>


            </div>


     
        </div>

        <script src="js/ventas/query.ventas.archivo_de_entrega.js"></script>
        <script src="js/lib/table.setData.js"></script>
</body>

</html>