<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blanco Gusmar | Ventas</title>
  <%- include("../partials/links/normalize-fa-nav.styles.ejs") %>
  <link rel="stylesheet" href="/pagos/css/pagos.cargar_cobranza.css">
  <link rel="stylesheet" href="/css/cargar_venta/ventas_form_generico.css">
  <link rel="stylesheet" href="/css/ventas/ventas.cargar.css">
  <link rel="stylesheet" href="/shared/ui/aside.css"/>
  <script src="https://kit.fontawesome.com/b03be97bbd.js" crossorigin="anonymous"></script>
</head>



<body>
  <%- include("../partials/navigation/navigation-bar.ejs")  %>

  <main>
    <%- include("../partials/navigation/aside.ejs",{TITULO : "Ventas",aside,url : "/ventas/pasar_ventas"} ) %>

    


    <section class="cobranzas">
      <% if(ventas.length > 0) {%>
      <header>
        <span class="cobrador_nombre"><%= USUARIO %></span>
        <!-- <span class="cobrador_total"><%= //user.RANGO == "ADMIN" ? `Total : ${total_cobrado}` : "" %></span> -->
        <span class="cobranza_fecha btn--mostrar-aside"><%= FECHA %></span>
      </header>

      <div class="lista_de_pagos lista_de_ventas">
        <!-- TRANSFORMAR EL FOREACH DE VENTAS -->
        <% ventas.forEach(venta => { %>
        <%- include("../partials/ventas/venta.para.cargar.ejs", {venta}) %>
        <%})%>
      </div>

      <% }else{ %>

      <header>
        <span class="cobrador_nombre">Sin ventas</span>
        <span class="btn--mostrar-aside">- - - -</span>
      </header>

      <%  } %>
    </section>

  </main>



  <%- include("../partials/links/nav.logic.ejs") %>
  <script src="/shared/ui/aside.js"></script>
  <script src="/pagos/js/button_events.js"></script>
  <script src="/js/ventas/button_events.js"></script>


</body>

</html>