<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Registration Form | CodingLab </title>--->
  <title>Blanco Gusmar | Editar venta</title>
  <link rel="shortcut icon" href="/images/BGM.jpg" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cargar_venta/ventas_form.css">
  <% var today=new Date().toISOString().substring(0,10) %>
  <% var treeDaysAgo = new Date(new Date().getTime() - 1000*60*60*24*2).toISOString().substring(0,10) %>
  <% const coords = LATITUD && LONGITUD ? `${LATITUD},${LONGITUD}` : null %>

</head>

<body>

  <div class="container">
    <div class="titles">
      <div class="title">Editar venta</div>
      <div>
        <!-- <input class="btn-green btn-nuevo hidden" type="button" value="Cliente nuevo"> -->
        <a class="btn-green btn-crm" type="button" value="volver" href="/CRM">CRM</a>
      </div>
    </div>
    <div class="content">
      <form action="/ventas/editar" method="POST" enctype="multipart/form-data" id="form_editar_venta">

        <div class="user-details">
          <div class="input-box ">
            <span class="details">Cliente</span>
            <input type="text" readonly placeholder="Numero de cliente" value="<%= CTE %>" name="CTE" required>
          </div>

          <%- include("../partials/Components/input-box.ejs",{input : {type : "number",name : "FICHA",required:true,details : "Ficha",defaultValue : FICHA,placeholder : "Numero de ficha"}}) %>

          <%- include("../partials/Components/input-box.ejs",{input : {type : "text",name : "NOMBRE",required:true,details : "Apellido y nombre",defaultValue : NOMBRE, placeholder : "APELLIDO Nombre"}}) %>

          <%- include("../partials/Components/input-box.ejs",{input : {type : "text",name : "ZONA",required:true,details : "Zona",defaultValue : ZONA, placeholder : "Zona"}}) %>

          <%- include("../partials/Components/input-box.ejs",{input : {type : "text",name : "CALLE",required:true,details : "Calle",defaultValue : CALLE, placeholder : "Domicilio"}}) %>

          <%- include("../partials/Components/input-box.ejs",{input : {type : "text",name : "CRUCES",required:true,details : "Cruce 1",defaultValue : CRUCES, placeholder : "Cruce 1"}}) %>

          <%- include("../partials/Components/input-box.ejs",{input : {type : "text",name : "CRUCES2",required:true,details : "Cruce 2",defaultValue : CRUCES2, placeholder : "Cruce 2"}}) %>

          <%- include("../partials/Components/input-box.ejs",{input : {type : "number",name : "WHATSAPP",details : "Telefono",defaultValue : WHATSAPP, placeholder : "WHATSAPP"}}) %>


          <div class="input-box">
            <span class="details">N° de documento</span>
            <input type="number" placeholder="Numero de documento" value="<%= DNI %>" name="DNI" required>
          </div>

          <div class="input-box">
            <span class="details">Cuotas</span>
            <select form="form_editar_venta" class="selector-cuotas" name="CUOTAS" required>
              <option value="3" <%= CUOTAS == 3 ? "selected" : null %>>3</option>
              <option value="6" <%= CUOTAS == 6 ? "selected" : null %>>6</option>
              <option value="8" <%= CUOTAS == 8 ? "selected" : null %>>8</option>
              <option value="9" <%= CUOTAS == 9 ? "selected" : null %>>9</option>
              <option value="12" <%= CUOTAS == 12 ? "selected" : null %>>12</option>
              <option value="1" <%= CUOTAS == 1 ? "selected" : null %>>1</option>
            </select>
          </div>

          <div class="input-box">
            <span class="details">Articulos</span>
            <input type="text" placeholder="Articulos divididos por espacios" name="ARTICULOS" value="<%= ARTICULOS %>" required>
          </div>


          <div class="input-box">
            <span class="details">Vta total</span>
            <input type="number" placeholder="Suma de cuotas" name="TOTAL" value="<%= TOTAL %>" required>
          </div>

          <div class="input-box">
            <span class="details">Cuota</span>
            <input type="text" placeholder="Valor de cuota" name="CUOTA" value="<%= CUOTA %>" required>
          </div>


          <div class="input-box">
            <span class="details">Servicio unitario</span>
            <select class="" name="SERV_UNIT" required>
              <option value="" selected></option>
              <option value="500" <%= SERV_UNIT == 500 ? "selected" : "" %>>500</option>
              <option value="750" <%= SERV_UNIT == 750 ? "selected" : "" %>>750</option>
              <option value="1000" <%= SERV_UNIT == 1000 ? "selected" : "" %>>1000</option>
              <option value="1500" <%= SERV_UNIT == 1500 ? "selected" : "" %>>1500</option>
              <option value="2000" <%= SERV_UNIT == 2000 ? "selected" : "" %>>2000</option>
              <option value="3000" <%= SERV_UNIT == 3000 ? "selected" : "" %>>3000</option>
              <option value="4000" <%= SERV_UNIT == 4000 ? "selected" : "" %>>4000</option>
              <option value="5000" <%= SERV_UNIT == 5000 ? "selected" : "" %>>5000</option>


            </select>
          </div>


          <div class="input-box">
            <span class="details">Anticipo</span>
            <input type="number" placeholder="Anticipo cobrado" name="ANTICIPO" value="<%= ANTICIPO %>">
          </div>

          <%- include("../partials/Components/input-box-select.ejs",{input: {classListContainer : ["select_anticipo_container"],hidden : false,required : true,name : "ANTICIPO_MP",details: "Anticipo por MP?" , classList : ["select_anticipo"],options:[null,"NO","SI"]}}) %>

          <div class="input-box">
            <span class="details">Tipo</span>
            <select class="" form="form_editar_venta" name="TIPO" required>
              <option value="Pedido" <%= TIPO == "Pedido" ? "selected" : null %>>Pedido</option>
              <option value="Revisita" <%= TIPO == "Revisita" ? "selected" : null %>>Revisita</option>
              <option value="Timbreo" <%= TIPO == "Timbreo" ? "selected" : null %>>Timbreo</option>
              <option value="Local" <%= TIPO == "Local" ? "selected" : null %>>Local</option>
            </select>
          </div>


          <div class="input-box">
            <span class="details">Estatus</span>
            <select class="options-estatus" form="form_editar_venta" name="ESTATUS" required>
              <option value="Entregado" <%= ESTATUS == "Entregado" ? "selected" : null %>>Entregado</option>
              <option value="Con anticipo" <%= ESTATUS == "Con anticipo" ? "selected" : null %>>Con anticipo</option>
              <option value="Para entregar" <%= ESTATUS == "Para entregar" ? "selected" : null %>>Para entregar</option>
              <option value="Prepago" <%= ESTATUS == "Prepago" ? "selected" : null %>>Prepago</option>
              <option value="Prepago entregado" <%= ESTATUS == "Prepago entregado" ? "selected" : null %>>Prepago entregado</option>
            </select>
          </div>

          <div class="input-box">
            <span class="details">Primer pago</span>
            <input type="date" placeholder="Primer fecha de pago" name="PRIMER_PAGO" value="<%= PRIMER_PAGO %>" min="<%= today %>" required>
          </div>

          <div class="input-box">
            <span class="details">Dia de vencimiento <span class="detail_primer_vencimiento">()</span></span>
            <select class="" name="VENCIMIENTO" required form="form_editar_venta">
              <option value="4" <%= DIA_VENCIMIENTO == "4" ? "selected" : null %>>4</option>
              <option value="9" <%= DIA_VENCIMIENTO == "9" ? "selected" : null %>>9</option>
              <option value="14" <%= DIA_VENCIMIENTO == "14" ? "selected" : null %>>14</option>
              <option value="19" <%= DIA_VENCIMIENTO == "19" ? "selected" : null %>>19</option>
              <option value="24" <%= DIA_VENCIMIENTO == "24" ? "selected" : null %>>24</option>
              <option value="29" <%= DIA_VENCIMIENTO == "29" ? "selected" : null %>>29</option>
            </select>
          </div>


          <div class="input-box cuotas_para_entrega hidden">
            <span class="details">Cuota de entrega</span>
            <input type="number" placeholder="Cuotas pagas para la entrega" name="CUOTAS_PARA_ENTREGA" value="<%= CUOTAS_PARA_ENTREGA %>">
          </div>
          <div class="input-box">
            <span class="details">Fecha de venta</span>
            <input type="date" name="FECHA_VENTA" value="<%= FECHA_VENTA %>" min="<%= !hasPermission(permisos.VENTAS_ADMIN) ? treeDaysAgo : "" %>" max="<%= !hasPermission(permisos.VENTAS_ADMIN) ? today : "" %>" />
          </div>

          <div class="input-box">
            <span class="details">Se hace responsable el vendedor?</span>
            <select class="options" name="RESPONSABLE" form="form_editar_venta" required>
              <option value="NO" <%= RESPONSABLE == "NO" ? "selected" : null %>>NO</option>
              <option value="SI" <%= RESPONSABLE == "SI" ? "selected" : null %>>SI</option>
            </select>
          </div>

          <%- include("../partials/Components/input-box.ejs",{input : {type : "text",name : "ubicacion_cliente",details :"Ubicacion",required : true,pattern : "-\\d+\\.\\d+,-\\d+\\.\\d+",defaultValue : coords }}) %>


          <!-- IMAGENES -->
          <div class="input-box">
            <span class="details">DNI Frente</span>
            <label for="FRENTE">
              <span class="IMG-FRENTE">Cargar foto...</span>
              <input type="file" class="inputfile-for-label" placeholder="APELLIDO Nombre" value="DNI Frente" id="FRENTE" name="FRENTE" accept="image/*">
            </label>
          </div>

          <div class="input-box">
            <span class="details">DNI Dorso</span>
            <label for="DORSO">
              <span class="IMG-DORSO">Cargar foto...</span>
              <input type="file" class="inputfile-for-label" id="DORSO" placeholder="APELLIDO Nombre" value="DNI Frente" name="DORSO" accept="image/*">
            </label>
          </div>

          <div class="input-box">
            <span class="details">ROSTRO</span>
            <label for="ROSTRO">
              <span class="IMG-ROSTRO">Cargar foto...</span>
              <input type="file" class="inputfile-for-label" placeholder="APELLIDO Nombre" id="ROSTRO" value="DNI Frente" name="ROSTRO" accept="image/*">
            </label>
          </div>

          <!-- input hidden  Venta Aprobada/Desaprobada -->
          <div class="input-box hidden">
            <input type="text" form="form_editar_venta" value="APROBADO" name="APROBADO" required />
          </div>

          <input type="hidden" name="ID" value="<%= INDICE %>">
          <%- include("../partials/Components/input-box.ejs",{input : {type : "hidden",name : "LATITUD_VENDEDOR"} }) %>
          <%- include("../partials/Components/input-box.ejs",{input : {type : "hidden",name : "LONGITUD_VENDEDOR"} }) %>
          <%- include("../partials/Components/input-box.ejs",{input : {type : "hidden",name : "ACCURACY_VENDEDOR"} }) %>
          <%- include("../partials/Components/input-box.ejs",{input : {type : "hidden",name : "PRIMER_VENCIMIENTO" , defaultValue : PRIMER_VENCIMIENTO } }) %>

          <!-- BOTONES DE SUBMIT -->
          <div class="button">
            <input type="submit" value="Editar venta">
          </div>
        </div>

      </form>
    </div>
  </div>

  <script src="/js/lib/fetch.helper.js"></script>
  <script src="/js/lib/file.weight.js"></script>
  <script src="/js/lib/afip.js"></script>
  <script src="/shared/setLoading.js"></script>
  <script src="/shared/getLocation.js"></script>
  <script src="/js/ventas/cargar_venta.js"></script>

</body>

</html>