<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/links/normalize-fa-nav.styles.ejs") %>
    <link rel="stylesheet" href="css/CRM/tabla.clientes.css">
    <link rel="stylesheet" href="css/CRM/General.css">
    <link rel="stylesheet" href="css/cargar_venta/tabla.ventascargadas.css">
    <link rel="stylesheet" href="css/CRM/interfaz.css">
    <link rel="stylesheet" href="css/ventas/ventas.cargadas.vendedores.css">
</head>
<title>Blanco Gusmar | Ventas</title>

<body>
    <%- include('../partials/navigation/navigation-bar.ejs') %>
        <div class="page-container">
            <div class="menu">
                <div class="menu-sub1">
                    <div class="busqueda-container">
                        <div class="busqueda-first-title title">Cuadro de busqueda</div>
                        <div class="title">Vendedor</div>
                        <div class="title">Fecha</div>


                        <select class="custom-selectbox-select select-vendedor">
                            <option value="GENERAL">General</option>
                            <% for (let i=0;i < vendedores.length ; i++){%>
                                <option value="<%=i%>"><%=vendedores[i].VENDEDOR%></option>
                            <%}%>
                        </select>

                        <select class="custom-selectbox-select select-fecha">
                            <% for (let i = 0;i < fechas.length ; i++){ %>
                                <option value="<%=i%>"><%=fechas[i].FECHA %></option>
                            <% } %>
                        </select>

                    </div>
                    <div class="resumen-container busqueda-container">
                        <div class="busqueda-first-title title">Resumen</div>
                        <div class="title">Fichas</div>
                        <div class="fichas-value valor"><span>0</span></div>
                        <div class="title">Total</div>
                        <div class="total-value valor"><span>0</span></div>
                    </div>
                </div>
                
                <div class="btn-container">
                    <input type="button" class="btn btn-ventas btn-consultar-ventas" value="Consultar"></input>
                </div>
            </div>
            <div class="table-container">
            <table class="tabla-ventascargadas tabla-clientes tabla-datos">
                <thead>
                    <tr>
                        <th>APROBADO</th>
                        <th>CTE</th>
                        <th>FICHA</th>
                        <th>ZONA</th>
                        <th>NOMBRE</th>
                        <th>CALLE</th>
                        <th>TEL</th>
                        <th>DNI</th>
                        <th>ART</th>
                        <th>ANT</th>
                        <th>CUOTAS</th>
                        <th>CUOTA</th>
                        <th>TOTAL</th>
                        <th>VENCE</th>
                        <th>PRIMER PAGO</th>
                        <th>TIPO</th>
                        <th>ESTATUS</th>
                        <th>RESPONSABLE</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="evaluacion">0</td>
                        <td>0</td>
                        <td>0</td>
                        <td class="zona">0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        <%- include("../partials/links/nav.logic.ejs")  %>
        <script src="js/ventas/query.ventas.vendedores.js"></script>
        <script src="js/lib/table.setData.js"></script>
</body>

</html>