<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blanco Gusmar | <%= data.title %></title>
    <link rel="shortcut icon" href="/images/BGM.jpg" type="image/x-icon">
    <%- include("partials/links/normalize-fa-nav.styles.ejs") %>
    <link rel="stylesheet" href="/css/main.css">


</head>

<body>
    <%- include("partials/navigation/navigation-bar") %>
        <div class="page-container">

            <div class="dashboard-container">
                <% for(let i=0 ; i< data.items.length ; i++){ %>

                    <div class="dashboard-item">
                        <a href="<%= data.links[i] %>">
                            <%= data.items[i] %>
                        </a>
                    </div>

                <%}%>
            </div>

        </div>

        <%- include("partials/links/nav.logic.ejs") %>
</body>

</html>