 
 <div class="input-box">
    <span class="details"><%= input.details %></span>
    <input class="<%= input.classList.join(" ") %>" type="<%= input.type %>" placeholder="<%= input.placeholder %>" value="<%= input.defaultValue  %>" name="<%= input.name %>">
  </div>





