<% const {FICHA,PROXIMO,CUOTA,MORA,SERV,SALDO,CUOTA_SERV,CODIGO,CONFIRMACION,OBS,Z,NOMBRE,CALLE,MP_TITULAR} = pago; %>

<div class="pago <%= CONFIRMACION %> ">

  <div class="ficha">
    <a href="/CRM?CTE=F:<%=FICHA%>"><%= FICHA %></a>
    <span class="zona"><%= Z %></span>
  </div>

  <div class="data_container">

    <div class="data_container__cobranza">
      <span class="proxima"><%= PROXIMO %></span>
      <span class="cuota"><%= CUOTA %></span>
      <span class="saldo"><%= SALDO %></span>
      <span class="cobrador"><%= CUOTA_SERV %></span>
    </div>

    <div class="data_container__btn">
      <% if(CONFIRMACION !== "CONFIRMADO"){ %>
      <div class="confirmar_pago">
        <a href="confirmar_pago?CODIGO=<%= CODIGO %>&ORDEN=<%= ORDEN %>" class="confirmar_pago"><i class="fas fa-check"></i></a>
      </div>

      <div class="editar_pago">
        <i class="fas fa-edit btn_editar_pago"></i>
      </div>
      <% } %>
    </div>

    <span class="servicio hidden"><%= SERV %></span>
    <span class="mora hidden"><%= MORA %></span>
    <span class="codigo hidden"><%= CODIGO %></span>
  </div>


  <div class="details_container">
    <span class="obs"><%= NOMBRE %> - <%= CALLE %></span>
    <span class="MP"><%= MP_TITULAR ? `MP ${MP_TITULAR}` : "" %></span>
  </div>
 
  <% if(OBS) {%>
  <div class="details_container">
    <span class="obs"><%= OBS %></span>
  </div>
  <% } %>
</div>