<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Registration Form | CodingLab </title>--->
  <title>Blanco Gusmar | Editar ficha</title>
  <link rel="shortcut icon" href="/images/BGM.jpg" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cargar_venta/ventas_form.css">

  <% const {FECHA_VENTA,CTE,FICHA,TOTAL,CUOTA,VENCIMIENTO,PRIMER_PAGO,CUOTA_ANT,SERVICIO_ANT,MORA_ANT,ARTICULOS,SERV_UNIT} = ficha_data %>
  <% const readOnlyPermission = !hasPermission(permisos.ADMIN_GERENCIA) ? "readonly" : "" %>
</head>

<body>

  <div class="container">
    <div class="titles">
      <div class="title">Editar ficha</div>
      <div>
        <a class="btn-green btn-crm" type="button" value="volver" href="/CRM?CTE=<%= CTE %>">CRM</a>
      </div>
    </div>
    <div class="content">
      <form action="/admin/editarFicha/<%= FICHA %>" method="POST">
        <div class="user-details">

          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "date",defaultValue : FECHA_VENTA, details : "Fecha de venta" ,name : "FECHA",required : true }
            }) %>

          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "number",defaultValue : CTE, details : "N° Cte" ,name : "CTE",properties : ["readonly"],required : true }
            }) %>

          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "number",defaultValue : FICHA, details : "Ficha" ,name : "FICHA" , properties : ["readonly"],required:true}
            }) %>

          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "number",defaultValue : TOTAL, details : "Total" ,name : "TOTAL" , required : true}
            }) %>

          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "number",defaultValue : CUOTA, details : "Cuota" ,name : "CUOTA",required : true }
            }) %>

          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "date",defaultValue : VENCIMIENTO, details : "Primer vencimiento" ,name : "VENCIMIENTO" ,required : true}
            }) %>

          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "date",defaultValue : PRIMER_PAGO, details : "Primer pago" ,name : "PRIMER_PAGO" ,required : true}
            }) %>

          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "number",defaultValue : CUOTA_ANT, details : "Saldo anterior" ,name : "CUOTA_ANT",required : true, properties : [readOnlyPermission] }
            }) %>

          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "number",defaultValue : SERVICIO_ANT, details : "Saldo de servicio anterior" ,name : "SERVICIO_ANT",required : true, properties : [readOnlyPermission] }
            }) %>
          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "number",defaultValue : MORA_ANT, details : "Saldo de mora anterior" ,name : "MORA_ANT",required : true, properties : [readOnlyPermission] }
            }) %>

          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "text",defaultValue : ARTICULOS, details : "Articulos" ,name : "ARTICULOS",pattern : "^\\d+(\\.\\d+)?(\\s{1}\\d+(\\.\\d+)?)*$",required : true }
            }) %>

          <%- include(global.dir_partials + "/shared/input-box",{input : {
            type : "number",defaultValue : SERV_UNIT, details : "Valor servicio" ,name : "SERV_UNIT",required : true }
            }) %>



          <div class="button">
            <input type="submit" class="button__input" value="Editar ficha" />
          </div>
          <div class="button">
            <a type="submit" class="button__input button__input--devolucion link" href="/admin/cargarDevolucion/<%= FICHA %>">Dar de baja</a>
          </div>

        </div>

      </form>
    </div>
  </div>

  <script src="/admin/editar.ficha.js"></script>
</body>

</html>