<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blanco Gusmar | Recorrido</title>
  <%- include("../partials/links/normalize-fa-nav.styles.ejs") %>
  <link rel="stylesheet" href="/cobrador/recorrido.css">
  <link rel="stylesheet" href="/cobrador/recorrido.iniciar.css">
  <script src="https://kit.fontawesome.com/b03be97bbd.js" crossorigin="anonymous"></script>

</head>

<body>
  <%- include("../partials/navigation/navigation-bar.ejs")  %>

  <div class="main__container">
    <header class="container--btn">
      <a href="/cobrador/recorrido?ZONA=<%= ZONA %>" class="btn_header link">RECORRIDO</a>
      <div class="lista_zonas">
        <% user.ZONAS.forEach(zona => { %>
        <a href="<%=`${zona}`%>" class="zona link"><%= zona %></a>
        <% }) %>
      </div>
    </header>



    <ul class="lista_por_cobrar" id="sortable">

      <% fichas.forEach(ficha_data => { const {ficha} = ficha_data %>
        
      <%- include(`${global.dir_partials}/cobrador/credito.por.cobrar.ejs`,{ficha,conCandado : false,conMapa : true}) %>
      <% }) %>
    </ul>

  </div>


  <%- include("../partials/links/nav.logic.ejs") %>
  <script src="/cobrador/iniciar_button_events.js"></script>
</body>

</html>