<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blanco Gusmar | Cobranza</title>
  <%- include("../partials/links/normalize-fa-nav.styles.ejs") %>
  <link rel="stylesheet" href="/cobrador/recorrido.css">
  <script src="https://kit.fontawesome.com/b03be97bbd.js" crossorigin="anonymous"></script>

</head>

<body>
  <%- include("../partials/navigation/navigation-bar.ejs")  %>

  <div class="main__container">
    <header class="container--btn">
      <a class="btn_header btn__desbloquear link">DESBLOQUEAR</a>
      <a class="btn_header btn__bloquear link">BLOQUEAR</a>
      <a class="btn_header btn__ordenar_recorrido link">ORDENAR</a>
      <a class="btn_header btn__iniciar_recorrido link">INICIAR</a>
      <div class="lista_zonas">
        <% user.ZONAS.forEach(zona => { %>
        <a href="<%=`?ZONA=${zona}`%>" class="zona link"><%= zona %></a>
        <% }) %>
      </div>
    </header>

    <ul class="lista_por_cobrar" id="sortable">

      <% fichas.forEach(ficha_data => { const {ficha,deuda} = ficha_data; %>
      <%- include(`${global.dir_partials}/cobrador/credito.por.cobrar.ejs`,{ficha, conCandado : true,conMapa: true}) %>
      <% }) %>
      
    </ul>

  </div>

  <%- include("../partials/links/nav.logic.ejs") %>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

  <script src="/cobrador/recorrido_draggable.js"></script>
  <script src="/cobrador/recorrido.js"></script>
</body>

</html>