<% const {CTE,FICHA,NOMBRE,ZONA,CALLE,CRUCES,CRUCES2,ARTICULOS,TOTAL,CUOTAS,CUOTA,SERV_UNIT,WHATSAPP,DNI,PRIMER_PAGO,VENCIMIENTO,LATITUD,LONGITUD,INDICE,ESTADO,GARANTE_CTE,MODO} = venta; %>

<div class="pago venta <%= ESTADO %>">

  <div class="ficha">
    <a href="/CRM?CTE=F:<%=FICHA%>"><%= `${CTE} - ${FICHA}` %></a>
    <span class="zona"><%= ZONA %></span>
  </div>



  <%- include("./venta.details_container.ejs",{datos : {dato1 : NOMBRE,classList : ["nw"]}}) %>
  <%- include("./venta.details_container.ejs",{datos : {dato1 :`${CALLE}`}}) %>
  <%- include("./venta.details_container.ejs",{datos : {dato1 :`[${CRUCES}-${CRUCES2}]`,classList : ["nw"]}}) %>
  <%- include("./venta.details_container.ejs",{datos : {dato1 :`TEL: ${WHATSAPP} DNI: ${DNI}`}}) %>
  <%- include("./venta.details_container.ejs",{datos : {dato1 : ARTICULOS, classList : ["zona"]}}) %>
  <%- include("./venta.details_container.ejs",{datos : {dato1 :`(${CUOTAS} x ${CUOTA}) $${TOTAL}`},classList : ["nw"]}) %>
  <%- include("./venta.details_container.ejs",{datos : {dato1 :`P.Venc: ${VENCIMIENTO} - P.Pago: ${PRIMER_PAGO}`},classList : ["nw"]}) %>
  <%- include("./venta.details_container.ejs",{datos : {dato1 :`Serv: ${SERV_UNIT}`}}) %>

  <div class="data_container">

    <div class="data_container__btn">
      <% if(ESTADO == "PENDIENTE"){ %>
      <a href="<%=`/ventas/editar/${INDICE}`%>"><i class="fas fa-edit"></i></a>
      <a href="<%=`/ventas/confirmar/${INDICE}`%>" class="btn_confirmar_venta"><i class="fas fa-check"></i></a>
      <% if(hasPermission(permisos.VENTAS_GERENCIA)){ %>
      <a href="<%=`/ventas/borrar/${INDICE}`%>" class="invalidar_venta btn_invalidar_venta"><i class="fas fa-times"></i></a>
      <% }%>
      <% } %>
      <% if(MODO == "EASY"){  %>
        <a href="<%= `/ventas/prestamos/generar_contrato?ID=${INDICE}` %>" class=""><i class="fas fa-file-contract"></i></a>
        <% } %>
    </div>
  </div>

  <div class="details_container ">
    <% if(hasPermission(permisos.DNI_USER)){ %>
    <a href="/dnis/<%= CTE %>" target="_blank">Ver fotos</a>
    <% } %>
    <% if(LATITUD && LONGITUD) {%>
    <a href=<%=`https://www.google.com.ar/maps/search/${LATITUD},${LONGITUD}`%> target="_blank">Ver ubicacion</a>
    <% } %>
  </div>

  <%  if(MODO == "EASY"){%>
  <a href="/dnis/<%= GARANTE_CTE %>" target="_blank" class="nw">Ver fotos garante</a>
  <% } %>
</div>